.env
.env.prod
.env.local
node_modules/
backend/bin/
dist/
vendor/
backend/.env
backend/certs/ca.key
backend/certs/server.key
backend/certs/agent.key
backend/certs/*.srl
agent/dist/
agent/.agent_id
Thumbs.db
desktop.ini
backend/certs/*.key
*.log
*.pem
*.crt
*.key
.DS_Store